<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>My app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body>
<div class="w-75 mx-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/uvde/aston_mvc_h">MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse pr-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/v1/employees}">Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/v1/projects}">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/v1/positions}">Position</a>
                    </li>
                    <li class="nav-item pr-5">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Bootstrap Thymeleaf SpringMVC Hibernate PostgreSQL</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex justify-content-between pt-3">
        <h3 th:text="${project.getProjectName()}"></h3>

        <a th:href="@{/v1/projects/employees/{id}(id=${project.getId()})}">
            <button type="submit" class="btn btn-outline-primary">Add Employee On Project</button>
        </a>
    </div>



    <table class="table pt-3">
        <thead class="thead-dark">
        <tr>
            <!--        <th scope="col">#</th>-->
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Birthday</th>
            <th scope="col">Salary</th>
            <th scope="col">Position</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${project.getEmployeeDtoList()}">
            <!--        <th scope="row" th:text="${employee.getId()}"></th>-->

            <td th:text="${employee.getName()}"></td>
            <td th:text="${employee.getCity()}"></td>
            <td th:text="${employee.getBirthday()}"></td>
            <td th:text="${employee.getSalary()}"></td>
            <td th:text="${employee.getPosition()}"></td>
            <td>
                <form class="d-inline" th:method="delete" th:action="@{/v1/projects/employees/{employeeId}/{projectId}(projectId=${project.getId()}, employeeId=${employee.getId()})}">
                    <button type="submit" class="btn btn-outline-primary">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</div>
</body>

</html>